body
{
    background: url(https://img4.goodfon.ru/wallpaper/nbig/6/2d/oboi-1920x1080-kreativ-minimalizm-polosy-abstraktsiia-fon--1.jpg);
}
.trafficlight
{
    float: right;
    background-color: black;
    height: 600px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    margin-top: 7%;
    padding:40px 0;
}
.light
{
    
    text-align: center;
    color: white;
    background-color: grey;
    margin: auto;
    border-radius: 50%;
    height: 25%;
    width:45%;

}
.red
{
    font-size: 135px;
    background-color: red;
    animation-name: redcolor;
  animation-duration: 10s;
  animation-iteration-count :infinite;
}
.yellow
{ 
    font-size: 135px;
    margin-top: 20%;
    background-color: yellow;
    animation-name: yellowcolor;
  animation-duration: 10s;
  animation-iteration-count :infinite;
}
.green
{
    font-size: 135px;
    margin-top: 20%;
    background-color: green;
    animation-name: greencolor;
  animation-duration: 10s;
  animation-iteration-count :infinite;
}
.circle
{
    margin-top: 50px;
    margin-left: 50px;
    background-color: chocolate;
    border-radius: 50%;
   height: 200px;
   width: 200px;

}
.one:hover
{
    transform: translate(150px, 200px);
}
.two
{
    margin-top: 300px;
    margin-left: 100px;
    transition: width 2s, height 4s;
}
.two:hover
{
    height: 300px;
    width: 300px;
 
}

@keyframes redcolor{
    0% {opacity:1  ;}
     20% {opacity:1  ;}
      40% {opacity:0.2   ;}
     60% {opacity:0.2   ;}
      80% {opacity:0.2   ;}
     100% {opacity:0.2   ;}
     
  }
  
  @keyframes yellowcolor{
      0% {opacity:0.2  ;}
     20% {opacity:0.2   ;}
      40% {opacity:1  ;}
     60% {opacity:1  ;}
      80% {opacity:0.2   ;}
     100% {opacity:0.2   ;}
  }
  
  @keyframes greencolor{
      0% {opacity:0.2  ;}
     20% {opacity:0.2   ;}
      40% {opacity:0.2  ;}
     60% {opacity:0.2  ;}
      80% {opacity:1  ;}
       82% {opacity:1  ;}
       84% {opacity:1  ;}
       86% {opacity:1  ;}
       88% {opacity:1  ;}
       90% {opacity:1  ;}
       92%  {opacity:1  ;}
       94% {opacity:0.2  ;}
       96%  {opacity:1  ;}
       98% {opacity:0.2  ;}
       100%  {opacity:1  ;}
  }


